*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}
.container{
    position: relative;
    display: grid;
    grid-template-columns: auto;
    margin: 0px 0px 0px 170px;
}

/*main1*/
.main1{
    display: grid;
    grid-template-columns: 390px  390px  390px;
    column-gap: 10px;
    row-gap: 65px;
    cursor: zoom-in;
    margin: 110px 0px 0px 0px;
}
.cover .photos img{
    position: relative;
    width: 350px;
    height: 190px;
    border: none;
}
.cover .photos .time{
    position: absolute;
    background-color: black;
    color: white;
    margin: -41px 0px 0px 300px;
    height: 21px;
    padding: 2px;
    min-width: 34px;
    max-width: 150px;  
    border: none;
}
.profile{
    display: flex;
    gap: 20px;
    margin-top: 0px;
}
.profile-word{
    white-space: pre-line;
    margin-top: -14px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    filter: blur(0.8px);
}
.profile-view{
    font-size: 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.76);
    filter: blur(0.6px);
}
.profile .profile-img img{
    margin-top: 15px;
    height: 40px;
    width:40px;
    border: none;
    border-radius: 50%;
}
.link a{
    text-decoration: none;
    white-space: pre-line;
    color: black;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    filter: blur(0.8px);
}


/* 
/*FOR BIGGER SCREEN */
@media (min-width:1550px) { 
    /* HEADER CSS */
    .First{
        margin: 20px 0px 0px 50px;
        gap: 40px;
        display: flex;
    }
    .middle{
        display: flex;
        gap: 40px;
        margin: 15px 0px 0px 450px;
    }
    .middle input{
        height: 25px;
        padding: 10px;
        margin: 0px 0px 0px 80px;
        width: 1000px;
        border: 1px solid lightgray;
        box-shadow: 1px 1px 1px grey;
    }
    .last{
        display: flex;
        margin: 19px 20px 0px 450px;
        gap: 50px;
    }

    /*SIDBAR CSS */
    .sidebar{
        position: fixed;
        padding: 8px 0px 8px 0px;
        width: 450px;
        margin: 70px 0px 0px 30px;
        height: 610px;
        cursor: zoom-in;
        background-color: white;
        z-index: 1;
    }

    /* MAIN CSS */
    .main1{
        margin-left: 40px;
        display: grid;
        grid-template-columns: 500px 500px 500px 500px;
        column-gap: 60px;
        row-gap: 70px;
    }
    .cover .photos img{
        position: relative;
        width: 520px;
        height: 300px;
        border: none;
        border-radius: 10px;
    }
    .cover .photos .time{
        position: absolute;
        background-color: black;
        color: white;
        margin: -65px 0px 0px 450px;
        height: 30px;
        padding: 5px;
        min-width: 40px;
        max-width: 150px;  
        border: none;
        border-radius: 5px;
    }
   

}

/*FOR SMALL SCREEN */
@media (max-width:1080px) { 
       /* HEADER CSS */
       .First{
        margin: 20px 0px 0px 10px;
        gap: 25px;
        display: flex;
    }
    .middle{
        display: flex;
        gap: 15px;
        margin: 15px 0px 0px 20px;
    }
    .middle input{
        height: 20px;
        padding: 10px;
        margin: 0px 0px 0px 50px;
        width: 470px;
        border: 1px solid lightgray;
        box-shadow: 1px 1px 1px grey;
    }
    .last{
        display: flex;
        margin: 20px 20px 0px 20px;
        gap: 10px;
    }
        /*SIDBAR CSS */
        .sidebar{
            position: fixed;
            padding: 6px 0px 6px 0px;
            width: 220px;
            margin: 78px 0px 0px 20px;
            height: 600px;
            cursor: zoom-in;
            background-color: white;
            z-index: 1;
        }
    

    /* MAIN CSS */
    .main1{
        display: grid;
        grid-template-columns: 350px 350px;
        column-gap: 30px;
        row-gap: 30px;
    }
    

}

/*FOR SMALLER SCREEN */
@media (max-width:650px) { 
          /* HEADER CSS */
          .header{
            background-color: white;
            display: flex;
            flex-direction: row;
            position: fixed;
            height: 100px;
            cursor: zoom-in;
            z-index: 1;
            
        }
          .First{
            margin: 15px 0px 0px 0px;
            gap: 15px;
            display: flex;
        }
        .middle{
            display: flex;
            gap: 10px;
            margin: 15px 0px 0px 0px;
        }
        .middle input{
            height: 20px;
            padding: 10px;
            margin: 0px 0px 0px 10px;
            width: 250px;
            border: 1px solid lightgray;
            box-shadow: 1px 1px 1px grey;
        }
        .last{
            display: flex;
            margin: 25px 20px 0px 0px;
            gap: 15px;
        }
        #pm2{
            background-color: rgb(248, 246, 246);
            width: 15px;
            padding: 8px 3px 0px 5px;
            margin: 1px 0px 50px 0px;
            font-size: 15px;
            font-weight: 400;
            border: none;
            border-radius: 50%;
        }
        #pm2 i{
            color: black;
        }

            /*SIDBAR CSS */
            .sidebar{
                position: fixed;
                max-width: 60px;
                /* margin: 78px 0px 0px 35px; */
                margin-top: 78px;
                margin-left: 40px;
                height: 580px;
                cursor: zoom-in;
                background-color: white;
                z-index: 1;
            }
            .bar{
                max-width: 55px;
                text-align: center;
                gap: 1px;
                white-space: pre-wrap;
                margin-left: 40px;
            }
            .bar-words{
                opacity: 0;
            }

            .bar-words:hover{
                opacity: 1;
            }
            .sidebar:hover{
                position: fixed;
                max-width: 250px;
                margin: 78px 0px 0px 5px;
                height: 580px;
                cursor: zoom-in;
                background-color: white;
                z-index: 1;
            }
        
            .bar:hover{
                display: flex;
                max-width: 250px;
                gap: 10px;
                background-color: lightgrey;
                white-space: pre-wrap;
                margin-left: 5px;
            }
        
    
        /* MAIN CSS */
        .container{
            position: relative;
            display: grid;
            grid-template-columns: auto;
            margin: 0px 0px 0px 115px;
        }
        
    
        .cover .photos .time{
            position: absolute;
            background-color: black;
            color: white;
            margin: -38px 0px 0px 350px;
            height: 20px;
            padding: 2px;
            min-width: 34px;
            max-width: 150px;  
            border: none;
            border-radius: 8px;
        }
        
        .main1{
            display: grid;
            grid-template-columns: 500px;
            column-gap: 20px;
            row-gap: 20px;
            margin: 135px 0px 0px 0px;
        }
        .cover .photos img{
            position: relative;
            width: 430px;
            height: 200px;
            border: none;
            border-radius: 10px;
        }
     
}
