body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lavender;
}
 
/*use-itty-bitty-template*/ 
body {
    background: #ececec;}
    
h1, h2, h3, h4, h5 { 
    border-bottom: 1px solid #ccc;
      
   color: #3F51B5; 
   padding-bottom: 8px;
        
        } 
        
.container { 
margin: auto; 
width: 350px; 
text-align: center; 

} 
.listFlex {
    display: flex; 
    justify-content: center;
    
    } 
    img { 
    width: 100%; 
    
    }




/* body{

    background-color: blue;
}
 
 */
/*  <!--  <details>
            <summary>
            See more
            </summary>
            <img src="img/notification.png" width="40">
        </details> --> */