.sidebar{
    position: fixed;
    width: 200px;
    margin: 60px 0px 0px 0px;
    height: 600px;
    cursor: zoom-in;
    background-color: white;
    z-index: 1;
}
.sidebar .bar:hover{
    background-color: rgba(211, 211, 211, 0.274);
    color: black;
    padding: 8px 0px 8px 0px;
    border: none;
    border-radius: 6px;
}
.bar{
    cursor: pointer;
    display: flex;
    gap: 18px;
    white-space: pre-wrap;
    margin: 0px 0px 18px 15px;
}
#ps{
    margin: 0px 0px 18px 15px; 
}
#b1{
    border: 1px solid blue;
    border-radius: 50%;
   background-color: blue;
   color: purple;
}
.blue1{
    border: 1px solid blue;
    border-radius: 60%;
    background-color: blue;
    color: rgba(255, 255, 0, 0.822);
}
.blue2{
    border: 1px solid green;
    border-radius: 50%;
   background-color: green;
   color: lightgray;
}
.vl1{
    margin: 12px 0px 12px 0px;
    border: 0.1px solid rgba(211, 211, 211, 0.411);
}